

//colors
@grey: #d5d5d5;
@dark-grey: #303030;
@boot-grey: rgba(51, 51, 51, 1);
@green: #cbebe0;
@blue: #c9dced;
@boot-blue: #428bca;
@boot-dark-blue: #2a6496;
@red: #b7282e;

body{
	background: url(../images/main-bg.jpg);
	background-position:337px;
}
a{
	color: @boot-blue;
	text-decoration: underline;
	&:visited{
		color: transparent;
	}
	&:hover{
		text-decoration: underline;
	}
}
.container-wrapper{
	background: url(../img/main-bg.jpg);
}
#up{
	background-image: url(../img/up.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: 60px 65px;
	background-position: center center;
	display: inline-block;
	box-sizing:content-box;
	position: fixed;
	bottom: 50px;
	left: 30px;
	background-color: #c9dced;
	border-radius: 4px;
	border: 2px solid rgba(0,0,0,.5);
}


.site-content{
	background-color: @grey;
	// .container{
	// 	// background-color: #fff;
	// 	padding-bottom: 60px;
	// 	.row{
	// 		.elem-holder{
	// 			h3{
	// 				padding: .3em;
	// 				border-radius: 3px;
	// 				background-color: #d6d6d6;
	// 				>a{
	// 					color: @boot-grey;
	// 					text-decoration: underline;
	// 					&:hover{
	// 						color: @boot-grey;
	// 					}
	// 				}
	// 			}
	// 			.elem{
	// 				.elem-img-wrapper{
	// 					display: inline-block;
	// 					margin-right: .5em;
	// 					float: left;
	// 				}
	// 				.post-desc{
	// 					display: inline;
	// 					*{
	// 						display: inline;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}

.pd-icon{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../images/direct-icon-r.png) center no-repeat;
}

.divider{
	height: 1px;
	float: left;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px dashed #9e9e9e;
	&:last-child{
		display: none;
	}
}
.wp-pagenavi{
	margin-top: 20px;
	border-top: 3px solid @red;
	.navigation{
		text-align: center;
		word-spacing: -.36em;
		> *{
			word-spacing: normal;
		}
	}
	.page-numbers{
		background-color: @dark-grey;
		padding: 6px 10px;
		color: white;
		display: inline-block;
		font-weight: bold;
	}
	a{
		text-decoration: none;
	}
	.pages{
		display: none;
	}
	.current{
		background-color: @red;
	}
	.next{
		float: right;
		margin-right: -15px;
	}
	.prev{
		float: left;
		margin-left: -15px;
	}
}

//imports
@import "header";
@import "main";
@import "sidebar";
@import "footer";