.site-main{
	.elem-holder{
		margin-top: 25px;
		padding: 0;
		&:last-child{
			margin-bottom: 25px;
		}
		h2{
			margin: 0;
			font-size: 1em;
			line-height: 1.4;
			background-color: @dark-grey;
			a{
				display: inline-block;
				color: white;
				text-decoration: none;
				font-weight: bold;
				background-color: black;
				padding: 0 9px 0 9px;
				.pd-icon{
					margin-left: 5px;
				}
			}
		}
		.none{
			background-color: transparent;
			font-size: 1.5em;
			line-height: 1.3;
		}
		.elem{
			header h3{
				font-size: 1.5em;
				line-height: 1.2;
				font-weight: bold;
				// margin: 0;
				a{
					color: @dark-grey;
					text-decoration: none;
				}
			}
			.elem-img-wrapper{
				display: inline-block;
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;
			}
			.post-desc{
				margin-bottom: 10px;
			}
			footer{
				clear: left;
				a{
					color: @dark-grey;
					text-decoration: none;
					margin-right: 10px;
				}
			}
		}
	}
}

.archive, .category, .category-about{
	.site-main{
		.page-header{
			border-bottom: 4px solid @red;
			h2{
				text-transform: uppercase;
				&:before{
					content: '';
					display: inline-block;
					width: 25px;
					height: 25px;
					background: url(../images/title_pd.png) no-repeat;
					margin-right: 15px;
				}
			}
		}
		.elem{
			header h3{
				font-size: 1.5em;
				line-height: 1.2;
				font-weight: bold;
				// margin: 0;
				a{
					color: @dark-grey;
					text-decoration: none;
				}
			}
			.elem-img-wrapper{
				display: inline-block;
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;
			}
			.post-desc{
				margin-bottom: 10px;
			}
			footer{
				clear: left;
				a{
					color: @dark-grey;
					text-decoration: none;
					margin-right: 10px;
				}
			}
		}
		.navigation.posts-navigation{
			float: left;
		}
	}
}
.single{
	.site-main{
		.entry-header{
			.entry-title{
				color: @red;
				text-transform: uppercase;
			}
			time{
				font-size: 1.571em;
				line-height: 1.3;
			}
		}
		.entry-footer{
			.h2{
				color: @red;
				text-transform: uppercase;
				border-bottom: 3px solid @red;
				padding-bottom: 10px;
			}
			.similar_records{
				float: left;
				width: 100%;
				ul{
					margin-left: 0;
					padding-left: 20px;
					list-style: none;
					color: @red;
					li{
						display: inline-block;
						margin: 10px 10px 10px 0;
						float: left;
						width: 150px;
						vertical-align: top;
						position: relative;
						a{
							display: block;
							margin-bottom: 10px;
						}
					}
				}
			}
			.comments-area{
				.comment-list{
					margin-left: 0px;
					.comment-body{
						border-bottom: 1px dashed #909090;
					    padding-bottom: 10px;
					}
				}

			}
		}
	}
}

.event{
	margin-bottom: 30px;
	border-bottom: 1px dashed #9E9E9E;
	padding-bottom: 30px;
	.entry-header{
		font-size: 13px;
		.entry-title{
			a{
				color: #303030;
				// text-decoration: none;
			}
		}	
	}
}

.entry-tickets{
	display: none;
}